<section class="w-full">
  <div class="main-container border-t border-b border-slate-300 max-sm:py-[32px] py-[64px] flex max-md:flex-col gap-6">
    <div class="w-1/2 border flex max-md:w-full gap-4 max-md:flex-col">
      <div class="flex flex-col gap-4 max-w-[162px] max-md:flex">
        {% for image in product.images %}
        {% endfor %}
      </div>
    </div>
    <div class="w-1/2 border flex flex-col max-md:w-full"></div>
  </div>
</section>
